.theme-colors {
  color: #403b3c;
  color: #f2f0f0;
  color: #b3dae6;
  color: #d9d9d9;
  color: #0d0d0d;
  color: #d76b63;
}

h1 { color: #0d0d0d;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  font-weight: bolder;
  text-align: center;

}

h2 {color: #b3dae6;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;}

h4 {color: #0d0d0d;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif ;
  font-weight: bolder;

}
.btn-group.btn-block {
  display: flex;
}
.btn-group.btn-block > .btn {
  flex: 1;
}

.text-stroke {
  -webkit-text-stroke: 2px #b3dae6;
}
.inverted-stroke {
  -webkit-text-stroke: 2px #403b3c;
}
.no-decoration {
  text-decoration: none;
}
.top-banner { margin-top: 60px;
}

.home-content {margin-top: 25px;
}

.flexibly-sticky { align-items: flex-start;
}

.smaller-image { height: 100px
}

.nav-custom {
  background-color: #f2f0f0;
  color:#0d0d0d;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
}

.content-section {
    background: #b3dae6;
    height: 100%;
    padding: 10px;
    color: #0d0d0d;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;

  }

  .alert-custom {
    background-color: #d9d9d9;
    color:#0d0d0d
  }

.sidebar-section {
    height: 100%;
    height: auto;
    position: sticky;
    top: 0;
    background: #b3dae6;
    color: #0d0d0d;
  }  

.sidebar-content {
    background: #b3dae6;
    top: 0;
    padding: 10px;
    color: #0d0d0d;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

.homepage-content {
  background: #b3dae6;
  top: 0;
  padding: 10px;
  color: #0d0d0d;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

.card-footer {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.customize-img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #f2f0f0;
}

a {
  color: #0d0d0d;
  font-weight: bold;

}

header {
  position: relative;
  background-color: #0d0d0d;
  height: 20vh;
  min-height: 20rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
  opacity: 0.5;
  z-index: 1;
}

.shorter {
  height: 50%;
}
/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

/* @media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
} */