{% extends 'base.html' %}
{% block body %}
<body>
  <script>
      $( function() {
        $("#searchBox").autocomplete({
            source: function(request, response) {
              $.ajax({
                type: "POST",
                url: "/search",
                dataType: "json",
                cache: false,
                data: {
                    q: request.term
              },
                success : function(data) {
                  //alert(data);
                  //console.log(data);
                  response(data);
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  console.log(textStatus + " " + errorThrown);
              }
            });
          }, 
          minLength: 2
      });
      });
      </script>
      {% endblock %}


{% block content %}
<div class="content-section">
  <div class="container-fluid text-center">
    <h1> Add Medications </h1>
    <p>    Add a product from our database or your own!
      When you add a medication from our database of medications and supplements,
      you gain access to a wealth of knowledge about the product.
  </p>
    </div>

<form id="add-med" action="/add-med" method="POST">

  <div class="row mb-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Medication Name" aria-label="Medication" id="searchBox" name="search" required/>
    </div>
  </div>
  <div class="row">
      <div class="btn-group btn-block mb-3 ">
        <input type="checkbox" class="btn-check my-auto" name="regular" id="regular" autocomplete="off">
        <label class="btn btn-outline-dark text-center" for="regular">I take this daily.</label>
        <input type="checkbox" class="btn-check" name="as-needed" id="as-needed" autocomplete="off">
        <label class="btn btn-outline-dark text-center" for="as-needed">I take this as needed.</label>
        <input type="checkbox" class="btn-check" name="current" id="current" autocomplete="off">
        <label class="btn btn-outline-dark text-center" for="current">I currently take this.</label>
      </div>
      </div>
      <div>
        <input type="text" class="form-control" name="dose-amount" id="dose-amount" placeholder="Typical Dose (optional)" aria-label="typical dose"/>
      </div>
      <br>
      <div>
        <input class="btn btn-dark" type="submit" aria-label="add med to list" value="Add Med to List"/>
      </div> 
</form> 
</div>

  {% endblock %}

  {% block js %}
  {% endblock %}
  