<!doctype html>
<html lang="en">
<html>
    <head>
        {% block head %}
        
        <title> MedBuddy</title>
        <meta charset="utf-8">
        <meta name="description" content="making med tracking fun">
        <meta name="developer" content="Samantha Wette">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}
    </head>
    {% block header %}
        <header>
            <h1>Welcome to MedBuddy!</h1>
            <nav aria-labelledby="primary-navigation">
            <h2 id="primary-navigation">Navigation</h2>
            <h3 id="home-page"><a href="/">Home</a></h3>
            <h3 id="profile"><a href="/profile">My Profile</a></h3>
            <h3 id="log-meds"><a href="/log">Log Meds</a></h3>
            <h3 id="view-data">View & Share Data</h3>
            <h3 id="marketplace"><a href="/marketplace">Marketplace</a></h3>
            </nav>
        </header> 
    {% endblock %}
    <body>
    {% with msgs = get_flashed_messages() %}
        {% if msgs %}
        <p class="flash-message">
            {% for msg in msgs %}
            {{ msg }}
            {% endfor %}
        </p>
        {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
{% block footer %}
<footer>
    <nav aria-labelledby="footer-navigation">
        <h2 id="footer-navigation">More Information</h2>
        <h3 id="all-meds"><a href ="/meds">All Meds</a></h3>
        <h3 id="about"> About </h3>
        <h3 id="contact"> Contact </h3>
    </nav>
</footer>
{% endblock %}