{% extends 'base.html' %}
{% block body %}
<body>
  <script>
  var limit = 1;
$('input.single-hat').on('click', function (evt) {
    if ($('.single-hat:checked').length > limit) {
        this.checked = false;
    }
});

var limit = 1;
$('input.single-glasses').on('click', function (evt) {
    if ($('.single-glasses:checked').length > limit) {
        this.checked = false;
    }
});

var limit = 1;
$('input.single-random').on('click', function (evt) {
    if ($('.single-random:checked').length > limit) {
        this.checked = false;
    }
});

var limit = 1;
$('input.single-background').on('click', function (evt) {
    if ($('.single-background:checked').length > limit) {
        this.checked = false;
    }
});

  </script>
      {% endblock %}

{% block content %}
{% if not user.buddies %}
{{ user.fname }}, you need to <a href="/adopt">adopt a buddy</a>!
{% endif %}


<form action="/process-customization">

  <legend>Pick a buddy!</legend>
    <div class="container parent">
      <div class="row">
        {% for buddy in user.userbuddies %}
        <div class='col text-center'>
        <input type="radio" name="chosen-buddy" id="{{ buddy.userbuddy_id }}" class="d-none imgbgchk" value="{{buddy.userbuddy_id}}">
          <label for="{{ buddy.userbuddy_id }}">
            <img src="{{ buddy.buddy.buddy_img }}" alt="{{buddy.buddy.buddy_alt}}">
            <div class="tick_container">
              <div class="tick">
                  <i class="fa fa-check"></i>
              </div>
            </div>
          </label>
        </div>
          {% endfor %}
      </div>
    </div>

  <legend>Choose Some Accessories</legend>

    <div class="container parent">
      <div class="row">

      <h4>How about a hat?</h4>
      <div class="row">
      {% for accessory in user.accessories %}
      {% if accessory.is_hat == True %}
        <div class='col text-center'>
        <div class='form-check'>
        <input type="checkbox" name="chosen-hat" id="{{ accessory.accessory_id }}" class="d-none imgbgchk single-hat" value="">
          <label for="{{ accessory.accessory_id }}">
            <img src="{{ accessory.accessory_img }}" alt="{{accessory.accessory_alt}}">
            <div class="tick_container">
              <div class="tick">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </label>
        </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <h4>How about some glasses?</h4>
      <div class="row">
      {% for accessory in user.accessories %}
      {% if accessory.is_glasses == True %}
        <div class='col text-center'>
        <div class='form-check'>
        <input type="checkbox" name="chosen-hat" id="{{ accessory.accessory_id }}" class="d-none imgbgchk single-glasses" value="">
          <label for="{{ accessory.accessory_id }}">
            <img src="{{ accessory.accessory_img }}" alt="{{accessory.accessory_alt}}">
            <div class="tick_container">
              <div class="tick">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </label>
        </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>

      <h4>How about a background?</h4>
      <div class="row">
      {% for accessory in user.accessories %}
      {% if accessory.is_background == True %}
        <div class='col text-center'>
        <div class='form-check'>
        <input type="checkbox" name="chosen-hat" id="{{ accessory.accessory_id }}" class="d-none imgbgchk single-background" value="">
          <label for="{{ accessory.accessory_id }}">
            <img src="{{ accessory.accessory_img }}" alt="{{accessory.accessory_alt}}">
            <div class="tick_container">
              <div class="tick">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </label>
        </div>
        </div>
        {% endif %}
        {% endfor %}

      </div>

      <h4>How about something else?</h4>
      <div class="row">
      {% for accessory in user.accessories %}
      {% if accessory.is_random == True %}
        <div class='col text-center'>
        <div class='form-check'>
        <input type="checkbox" name="chosen-hat" id="{{ accessory.accessory_id }}" class="d-none imgbgchk single-random" value="">
          <label for="{{ accessory.accessory_id }}">
            <img src="{{ accessory.accessory_img }}" alt="{{accessory.accessory_alt}}">
            <div class="tick_container">
              <div class="tick">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </label>
        </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>


      </div>
    </div>

    
    <div class="row">
            <button class="btn btn-primary" type="submit">Submit form</button>
        
    </div>

  </form>

{% endblock %}

{% block js %}
{% endblock %}
