{% extends 'base.html' %}

{% block content %}
<div class="content-section text-center">
  <h1> Customize </h1>
  <p>{% if not user.buddies %}
    {{ user.fname }}, you need to <a href="/adopt">adopt a buddy</a>!
  </p>
    {% else %}
    <p>
    Let's accessorize!
    </p>
    {% endif %}
        

<form id="process-customization" action="/process-customization" method="POST">
  <legend>Pick a buddy!</legend>
<div>
  <div class="row">
    {% for buddy in user.userbuddies %}
    <div class='col text-center'>
      <label for="{{ buddy.userbuddy_id}}">
    <img src="{{ buddy.buddy.img_O_O }}" alt="{{buddy.buddy.alt_O_O}}" class="rounded mx-auto d-block customize-img" >{{buddy.buddy.buddy_name}}</label>
    <input type="radio" name="chosen-buddy" id="{{ buddy.userbuddy_id}}" value="{{ buddy.userbuddy_id }}" required>

    </div>
    {% endfor %}
  </div>
  <legend>Pick some accessories!</legend>

  <legend class="text-muted"> Hats</legend>
  <div class="row">
    <div class='col text-center'>
      <label for="no-hat">
      <img src="static/img/none.png" alt="No hat selected" class="rounded mx-auto d-block customize-img" required>
      No Hat</label>
      <input type="radio" name="chosen-hat" id="no-hat" value="0">

      </div>  
    {% for accessory in user.accessories %}
    {% if accessory.is_hat == True %}
    <div class='col text-center'>
    <label for="{{ accessory.accessory_id }}">
      <img src="{{ accessory.accessory_img }}" alt="{{accessory.accessory_alt}}" class="rounded mx-auto d-block customize-img" >
      {{accessory.accessory_name}}</label>
    <input type="radio" name="chosen-hat" id="{{ accessory.accessory_id}}" value="{{accessory.accessory_id}}" required>

    </div>
    {% endif %}
    {% endfor %}
</div>
<legend class="text-muted"> Glasses</legend>

<div class="row">
  <div class='col text-center'>
    <label for="no-glasses">
      <img src="static/img/none.png" alt="No glasses selected" class="rounded mx-auto d-block customize-img" >
      No Glasses</label>
    <input type="radio" name="chosen-glasses" id="no-glasses" value="0" required>

    </div>  
  {% for accessory in user.accessories %}
  {% if accessory.is_glasses == True %}
  <div class='col text-center'>
  <label for="{{ accessory.accessory_id}}">
    <img src="{{ accessory.accessory_img }}" alt="{{accessory.accessory_alt}}" class="rounded mx-auto d-block customize-img" >
    {{accessory.accessory_name}}</label>
  <input type="radio" name="chosen-glasses" id="{{ accessory.accessory_id}}" value="{{accessory.accessory_id}}" required>

  </div>
  {% endif %}
  {% endfor %}
</div>
</div>
<div class="row">
  <button class="btn btn-primary" type="submit">Submit form</button>
</div>


</form>

</div>


{% endblock %}


{% block js %}
{% endblock %}
