{% extends 'base.html' %}

{% block content %}
<div class="content-section">
  <div class="container-fluid text-center">
    <h1> Medication Data </h1>
    <p>View your detailed med list and dose history.</p>
  </div>
<div id="selector">
    <p class="text-center">
    <button class=" btn btn-dark" data-bs-parent="#selector" type="button" data-bs-toggle="collapse" data-bs-target="#med-list" aria-expanded="true" aria-controls="med-list">
      My Med List
    </button>
    <button class=" btn btn-dark" data-bs-parent="#selector" type="button" data-bs-toggle="collapse" data-bs-target="#taken" aria-expanded="false" aria-controls="med-list">
      Doses Taken
    </button>
    <button class=" btn btn-dark" data-bs-parent="#selector" type="button" data-bs-toggle="collapse" data-bs-target="#missed" aria-expanded="false" aria-controls="med-list">
      Doses Missed
    </button>
  </p>
  <div class="collapse show" id="med-list" data-bs-parent="#selector" >
    <div class="card card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Medication</th>
            <th scope="col">Daily</th>
            <th scope="col">As Needed</th>
            <th scope="col">Active</th>
            <th scope="col">Typical Dose</th>
          </tr>
        </thead>
        <tbody>
          {% for med in user.usermeds %} 
          <tr>
            <th scope="row">{{ med.med.med_name }}</th>
            {% if med.taken_regularly == True %}
            <td>&nbsp;&nbsp;<i class="fa-solid fa-circle-check" aria-label="Yes, taken daily"></i></td>
            {% else %}
            <td>&nbsp;&nbsp;<i class="fa-solid fa-circle-xmark" aria-label="No, not taken daily"></i></td>

            {% endif %}
            {% if med.taken_as_needed == True %}
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-check" aria-label="Yes, taken as needed"></i></td>
            {% else %}
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-xmark" aria-label="No, not taken as needed"></i></td>
{% endif %}
{% if med.currently_taking == True %}

            <td>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-check" aria-label="Yes, currently taking"></i></td>
            {% else %}
            <td>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-xmark" aria-label="No, not currently taking"></i></td>
            {% endif %}

            <td> {{med.typical_dose}}</i></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  </div>
  
<div class="collapse" id="taken" data-bs-parent="#selector">
  <div class="card card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>

          <th scope="col">Medication</th>
          <th scope="col">Quantity</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for dose in doses_taken %} 
        <tr>
          <th scope="row">{{ dose.time_taken.strftime("%m/%d/%y") }}</th>
          <td>{{ dose.time_taken.strftime("%I:%M %p") }}</td>
          <td>{{ dose.med.med_name }}</td>
          <td>{{ dose.amount }}</td>
          {% endif %}
          <td>{{ dose.notes }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
</div>

<div class="collapse" id="missed" data-bs-parent="#selector">
  <div class="card card-body">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Scheduled Date</th>
      <th scope="col">Scheduled Time</th>
      <th scope="col">Medication</th>
    </tr>
  </thead>
  <tbody>
    {% for dose in doses_missed %} 
    <tr>
      <th scope="row">{{ dose.date.strftime("%m/%d/%y") }}</th>
      <td>{{ dose.time.strftime("%I:%M %p") }}</td>
      <td>{{ dose.med.med_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
<!--   
<div class="accordion accordion-flush" id="doseHistory">
  <div class="accordion-item">
    <h2 class="accordion-header" id="med-list">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        My Med List
        </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse" aria-labelledby="med-list" data-bs-parent="#doseHistory">
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Medication</th>
              <th scope="col">Daily</th>
              <th scope="col">As Needed</th>
              <th scope="col">Active</th>
              <th scope="col">Typical Dose</th>
            </tr>
          </thead>
          <tbody>
            {% for med in user.usermeds %} 
            <tr>
              <th scope="row">{{ med.med.med_name }}</th>
              {% if med.taken_regularly == True %}
              <td>&nbsp;&nbsp;<i class="fa-solid fa-circle-check" aria-label="Yes, taken daily"></i></td>
              {% else %}
              <td>&nbsp;&nbsp;<i class="fa-solid fa-circle-xmark" aria-label="No, not taken daily"></i></td>

              {% endif %}
              {% if med.taken_as_needed == True %}
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-check" aria-label="Yes, taken as needed"></i></td>
              {% else %}
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-xmark" aria-label="No, not taken as needed"></i></td>
{% endif %}
{% if med.currently_taking == True %}

              <td>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-check" aria-label="Yes, currently taking"></i></td>
              {% else %}
              <td>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-circle-xmark" aria-label="No, not currently taking"></i></td>
              {% endif %}

              <td> {{med.typical_dose}}</i></td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div> -->

  <!-- <div class="accordion-item">
    <h2 class="accordion-header" id="dose-history">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Doses Taken
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="dose-history" data-bs-parent="#doseHistory">
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>

              <th scope="col">Medication</th>
              <th scope="col">Quantity</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody>
            {% for dose in doses_taken %} 
            <tr>
              <th scope="row">{{ dose.time_taken.strftime("%m/%d/%y") }}</th>
              <td>{{ dose.time_taken.strftime("%I:%M %p") }}</td>
              <td>{{ dose.med.med_name }}</td>
              {% if dose.amount == None %} 
              <td><i class="fa-solid fa-circle-xmark" aria-label="No, not taken as needed"></i></td>
              {% else %}
              <td>{{ dose.amount }}</td>
              {% endif %}
              {% if dose.notes == None %}
              <td><i class="fa-solid fa-circle-xmark" aria-label="No, not taken as needed"></i></td>
              {% else %}

              <td>{{ dose.notes }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

 -->
<!-- 
  <div class="accordion-item">
    <h2 class="accordion-header" id="doses-missed">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#missed" aria-expanded="false" aria-controls="missed">
        Doses Missed
      </button>
    </h2>
    <div id="missed" class="accordion-collapse collapse" aria-labelledby="doses-missed" data-bs-parent="#doseHistory">
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Scheduled Date</th>
              <th scope="col">Scheduled Time</th>
              <th scope="col">Medication</th>
            </tr>
          </thead>
          <tbody>
            {% for dose in doses_missed %} 
            <tr>
              <th scope="row">{{ dose.date.strftime("%m/%d/%y") }}</th>
              <td>{{ dose.time.strftime("%I:%M %p") }}</td>
              <td>{{ dose.med.med_name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->


</div>

<div id="tablediv"></div>
{% endblock %}
{% block js %}
<script src="static/js/medHistory.jsx" type="text/jsx"></script>
{% endblock %}