{% extends 'base.html' %}

  <!-- <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head> -->


  <!-- HTML -->
  <!-- 
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawChart);

   function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addColumn({ type: 'string', id: 'info', role: 'tooltip'})
       dataTable.addRows([
        [ new Date(2022, 5, 17), 1, "med1, med2"],
          [ new Date(2022, 5, 18), 0, "med5, med6"]
        ]);
        // // for dose in user.doses:
        // for (i=0), //conditional logic --> 
<!-- 
        // [ new Date(dose.year, dose.month, dose.day), percent,
        // `Meds taken: ${meds}`, `Meds missed: ${meds_missed}`],


       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Medication History",
         height: 350,
         coloraxis:  {minValue: 0,  maxValue: 1,}
       };

       chart.draw(dataTable, options);
   }
    </script>
  </head>
  <body>
    <div id="calendar_basic" style="width: 1000px; height: 350px;"></div>
  </body>
</html> -->


    <!-- function drawCalendarChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Percent Meds Taken' });
    //    dataTable.addColumn({ type: 'string', id: 'Meds Taken'})
    //    dataTable.addColumn({ type: 'string', id: 'Meds Missed'})
       dataTable.addColumn({ type: 'string', id: 'Meds taken and missed', role: 'tooltip'});
       dataTable.addRows([    
        var options = {
         title: "Medication History",
         height: 350,
        //   colors: ['#FF0000', '#00FF00']}
       };

       var chart = new google.visualization.Calendar(document.getElementById('calendar_chart_div'));

       chart.draw(dataTable, options);
   }
    </script>
  </head>
  <body>
     <div id="calendar_chart_div" style="width: 1000px; height: 350px;"></div></td>
          <td><div id="Anthony_chart_div" style="border: 1px solid #ccc"></div></td> -->
    <!-- </body> --> 
{% block content %}
<div class="content-section">

<div class="accordion accordion-flush" id="doseHistory">
  <div class="accordion-item">
    <h2 class="accordion-header" id="med-list">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        My Med List
        </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse" aria-labelledby="med-list" data-bs-parent="#doseHistory">
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Medication</th>
              <th scope="col">Daily</th>
              <th scope="col">As Needed</th>
              <th scope="col">Currently Taking?</th>
              <th scope="col">Typical Dose</th>
            </tr>
          </thead>
          <tbody>
            {% for med in user.usermeds %} 
            <tr>
              <th scope="row">{{ med.med.med_name }}</th>
              <td>{{ med.taken_regularly }}</td>
              <td>{{ med.taken_as_needed }}</td>
              <td>{{ med.currently_taking }}</td>
              <td>{{ med.typical_dose }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="dose-history">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Meds Taken
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="dose-history" data-bs-parent="#doseHistory">
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Date/Time</th>
              <th scope="col">Medication</th>
              <th scope="col">Quantity</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody>
            {% for dose in doses_taken %} 
            <tr>
              <th scope="row">{{ dose.time_taken }}</th>
              <td>{{ dose.med.med_name }}</td>
              <td>{{ dose.amount }}</td>
              <td>{{ dose.notes }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header" id="doses-missed">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#missed" aria-expanded="false" aria-controls="missed">
        Doses Missed
      </button>
    </h2>
    <div id="missed" class="accordion-collapse collapse" aria-labelledby="doses-missed" data-bs-parent="#doseHistory">
      <div class="accordion-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Scheduled Date</th>
              <th scope="col">Scheduled Time</th>
              <th scope="col">Medication</th>
            </tr>
          </thead>
          <tbody>
            {% for dose in doses_missed %} 
            <tr>
              <th scope="row">{{ dose.date }}</th>
              <td>{{ dose.time }}</td>
              <td>{{ dose.med.med_name }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



</div>

<div id="tablediv"></div>
{% endblock %}
{% block js %}
<script src="static/js/medHistory.jsx" type="text/jsx"></script>
{% endblock %}