{% extends 'base.html' %}
{% block body %}
{% if user %}
User Profile<br>
Welcome, {{ user.fname }}!<br>
Your point total is {{ user.points }}.<br>
{% for buddy in user.buddies %}
<figure class="figure">
    <img src="{{ buddy.buddy_img }}" class="figure-img img-fluid rounded" alt="{{ buddy.buddy_alt }}"><br>
    <figcaption class="figure-caption">{{ buddy.buddy_name }} missed you!
    </figcaption>
  </figure>
  
{% endfor %}<br>

Your Buddies:<br>
{% for buddy in user.buddies %}
<li>{{ buddy.buddy_name }}
    {% endfor %} <br>
Look at all your nice stuff:<br>
{% for accessory in user.accessories %}
<li> {{ accessory.accessory_name }}</li>
{% endfor %} <br>

Your med list is:<br>
{% for med in user.usermeds %}
<li>{{ med.med.generic_name }}</li>
{% endfor %}<br>



{% else %}
<form id="log-in" action="/login" method="POST">
    <fieldset>
        <legend>Log In:</legend>
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" aria-label="log-in" value="Log In"><br>
        <a href="">Forgot Password?</a>
    </fieldset>
</form>
<br>
<form id="create-account" action="/users" method="POST">
    <fieldset>
        <legend>Create New Account:</legend>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last Name (optional):</label>
        <input type="text" id="lname" name="lname"><br>
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
    
        <input type="submit" aria-label="submit-and-create-account" value="Create My Account">
    </fieldset>
</form>
<!-- <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id=" {{client_id}} "
         data-context="signin"
         data-ux_mode="popup"
         data-login_uri="http://localhost:5000/oauth2callback"
         data-nonce=""
         data-auto_prompt="false">
    </div>
    
    <div class="g_id_signin"
         data-type="standard"
         data-shape="pill"
         data-theme="outline"
         data-text="signin_with"
         data-size="large"
         data-logo_alignment="left"
         data-width="40">
    </div></body>
    
<br>

<div id="g_id_onload"
     data-client_id="{{ client_id }}"
     data-context="signup"
     data-ux_mode="popup"
     data-login_uri="http://localhost:5000/oauth2callback"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signup_with"
     data-size="large"
     data-logo_alignment="left"
     data-width="40">
</div> -->

{% endif %}
{% endblock %}