{% extends 'base.html' %}

{% block content %}
{% endblock %}
{% block home %}

<header>
    <div class="overlay"></div>
  
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" aria-label="video montage of adults smiling, no sound">
      <source src="static/img/homevideo.mp4" type="video/mp4" alt="video montage of adults smiling">
    </video>

    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100">
          <h1 class="display-2 text-stroke">MedBuddy</h1>
          <h2 class="display-8 inverted-stroke">Your Partner in Healing</h2>
          {% if not user %}
          <button class="btn btn-dark btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="open nav bar to log in or create new account">
            Get Started
          </button>
          {% else %}
          <button class="btn btn-dark btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="open nav bar">
            Navigate
          </button>
          {% endif %}

        </div>
      </div>
    </div>

  </header>

  {% endblock %}
  {% block body %}
  <div class="container-fluid">
  <section class="my-9">
    <div class="container home-content">
      <div class="row">
          
        {% if not user %}

        <div class="col-md-3 mx-auto homepage-content text-center">
            <h3 class="text-center">Track</h3>
            <p>Whether you are tracking an occasional supplement or multiple daily medications, MedBuddy was built with you in mind. MedBuddy empowers you to distinguish between daily and as-needed meds and keep your med list up to date.</p>
            <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="click to open nav bar">
                Get Started
              </button>
              

        
        </div>

          <div class="col-md-3 mx-auto homepage-content text-center">
                <h3 class="text-center">Heal</h4>
                <p>MedBuddy is more than a medication tracker. With a robust database of medications and supplements, you can research the products that you use and stay informed on your health. View your med data at any time to keep your care team updated.</p>
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="click to open nav bar">
                    Get Started
                  </button>
                  

        </div>
            <div class="col-md-3 mx-auto homepage-content text-center">
                <h3 class="text-center">Play</h3>
                <p>Your adorable Buddy (and helpful Google Calendar notifications) will keep you coming back and logging your meds. Every time you log a dose, you earn points. Save up to buy fun accessories for your buddy or even adopt additional buddies!</p>
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="click to open nav bar">
                    Get Started
                  </button>
                  


            </div>
        
            {% else %}
            <div class="col-md-3 mx-auto homepage-content">
              <h3 class="text-center">Top Features</h3>
              <p>
                <ul class="fa-ul">
                  <li><i class="fa-li fa fa-solid fa-magnifying-glass"></i><a href="/my-meds">View</a> your medication history</li>
                  <li><i class="fa-li fa fa-solid fa-book-medical"></i><a href="/change">Learn</a> about your medications</li>
                  <li><i class="fa-li fa fa-regular fa-calendar"></i>Enable <a href="/authorize">Google Calendar</a> notifications for seamless medication reminders.</li>
                  <li><i class="fa-li fa fa-solid fa-paw"></i><a href="/adopt">Adopt</a> up to three unique buddies. </li>
                  <li><i class="fa-li fa fa-solid fa-bag-shopping"></i><a href="/marketplace">Shop</a> in the marketplace for accessories to <a href="/customize">customize</a> your buddies.</li> 
                </ul>
                  </p>
          </div>

            <div class="col-md-3 mx-auto homepage-content">
                <h3 class="text-center"> Today's Meds </h3>
                    <p>
                        {% if upcoming_doses %}
                        <form id="log-meds" action="/med-taken" method="POST">

            {% for dose in upcoming_doses %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="dose-{{ dose.dose_id }}" name="dose-id" value="{{ dose.dose_id }}">
              <label for="dose-{{ dose.dose_id }}">
                <div class="row"><div class="col-1"><i class="fa-solid fa-pills"></i></div><div class="col"> {{dose.med.med_name}}</div></div><div class="row"><div class="col-1"><i class="fa-regular fa-clock"></i></div><div class="col"><i> {{dose.time.strftime("%I:%M %p")}}</i></div></div>
              </label>
              </div>
                {% endfor %}
                <br>
                <p class="mb-0 text-center">
                  <input type="submit" aria-label="Submit" value="Log Now!" class="btn btn-outline-dark">
                </p>
  
                {% else %}
                <p class="text-center">
                It looks like you don't have any doses scheduled.
                </p>
                <p class="text-center">
                  <a class="btn btn-outline-dark" type="button" href="/add" class="justify-content-center" aria-label="click to add to med list">
                    Add Meds
                  </a>
                    </p>

                <p class="text-center">
              <a class="btn btn-outline-dark" type="button" href="/schedule" class="justify-content-center" aria-label="click to schedule med doses">
                Schedule Meds
            </a>
                        {% endif %}
                        <br>
                  <p class="text-center">
                <a class="btn btn-outline-dark" type="button" href="/log" class="justify-content-center" aria-label="click to log meds">
                  Log As-Needed Meds
                </a>
                  </p>
    
                </p>
            </p>
            </div>


            <div class="col-md-3 mx-auto homepage-content">

              <div id="allBuddies" class="carousel slide" data-bs-ride="carousel">
                  <h3 class="text-center"> My MedBuddy </h3>

                  <p class="text-center">
                    <p class="text-center">
                      You have {{ user.points }} points.
                      </p>

                  <div class="carousel-inner">
                    {% if not user.userbuddies %}
                    <div class="carousel-item active">
                      <a href="/adopt" aria-label="click to go to the buddy adoption page">

                      <img src="static/img/logo.png" class="d-block w-100" alt="Adopt a buddy today">
                      </a>
                    </div>
                    {% else %}
                    {% for buddy in user.userbuddies %}
                    {% if buddy == user.userbuddies[0] %}
                    <div class="carousel-item active">
                      <a href="/customize" aria-label="click to go to the buddy customization page">
                      <img src="{{buddy.url}}" class="d-block w-100" alt="{{buddy.alt}}"></a>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                      <a href="/customize" aria-label="click to go to the buddy customization page">
                      <img src="{{buddy.url}}" class="d-block w-100" alt="{{buddy.alt}}"></a>
                    </div>
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                  {% if user.userbuddies[1] %}
                  <button class="carousel-control-prev" type="button" data-bs-target="#allBuddies" data-bs-slide="prev" aria-label="click to go to previous buddy">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#allBuddies" data-bs-slide="next" aria-label="click to go to next buddy">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                  {% endif %}
                </p>
                </div>
              </div>
          </div>
  
        {% endif %}


        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}