{% extends 'base.html' %}
{% block body %}



<form id="log-meds" action="/med-taken" method="POST">
    <fieldset>
        <legend>Log Doses:</legend>
        Med(s) Taken:<br>
        {% for dose in user_doses %}

        <input type="checkbox" id="{{ dose }}" name="dose-id" value="{{ dose.dose_id }}">
        <label for="{{ dose }}">{{dose.med.generic_name}} (scheduled for {{dose.date_time}})</label>
        <br>
        {% endfor %}
        <br>
        <label for="datetime">Dose Date/Time:</label><br>
        <input type="datetime-local" name="datetime" id="datetime"><br>
        <br>        
        <input type="submit" aria-label="Submit" value="Get Points!">
        <input type="reset" aria-label="reset" value="Reset"><br>
    </fieldset>
</form>


<!-- <form id="log-meds" action="/log" method="POST">
    <fieldset>
        <legend>Log Other Doses:</legend>
        Med(s) Taken:<br>
        {% for med in user.meds %}

        <input type="checkbox" id="{{ med.med_id }}" name=" {{ med.med_id }}">
        <label for="{{ med.med_id }}">{{ med.generic_name }} / {{ med.brand_name }}</label>
        <br>
        {% endfor %}
        <br>
        <label for="datetime">Dose Date/Time:</label><br>
        <input type="datetime-local" name="datetime" id="datetime"><br>
        <br>        
        <input type="submit" aria-label="Submit" value="Get Points!">
        <input type="reset" aria-label="reset" value="Reset"><br>
    </fieldset>
</form> -->
{% endblock %}