{% extends 'base.html' %}
{% block body %}

<form id="log-meds" action="/log" method="POST">
    <fieldset>
        <legend>Log Meds:</legend>
        <label for="datetime">Dose Date/Time:</label>
        <input type="datetime-local" name="datetime" id="datetime"><br>
        <input type="checkbox" name="meds-taken" value="med_name" id="med_id">
        <label for="med_id">Med_Name</label>
        <br>        
        <input type="submit" aria-label="Submit" value="Get Points!">
        <input type="reset" aria-label="reset" value="Reset"><br>
    </fieldset>
</form>
{% endblock %}