
{% extends 'base.html' %}

{% block content %}
<div class="container content-section">
    <div class="container-fluid text-center">
        <h1> Log </h1>
        <p>    Log your medications to get points!
      </p>
        </div>
    
  <div class="row">
    <div class="col">
      <form id="log-meds" action="/med-taken" method="POST">
        <div class="row mb-3">
          <div class="col-sm-2 col-form-label">
            <label for="datetime">Date/Time Taken:</label>
          </div>
          <div class="col-sm-10">
            <input type="datetime-local" name="datetime" id="datetime" class="form-control" value="{{now}}" required>
          </div>
        </div>
        <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Today's Meds:</legend>
        <div class="col-sm-10">
            {% if not user_doses %}
            You don't have any doses scheduled today.
            {% endif %}

        {% if user_doses %} 
        {% for dose in user_doses %}
        <div class="row g-3">
            <div class="col-sm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="{{ dose }}" name="dose-id" value="{{ dose.dose_id }}">
                    <label for="{{ dose }}"><b>{{dose.med.med_name}}</b></label><i class="fa-regular fa-clock"></i> <i>{{dose.time.strftime("%I:%M %p")}}</i>
                </div>
            </div>

            <div class="col-sm">
                <input class="form-control" type="text" id="{{ med }}-notes" name="notes-{{med}}" placeholder="Notes (optional)" aria-label="notes">
            </div>
                <div class="col-sm-3">
                    {% if dose.usermed.typical_dose == None %}
                <input class="form-control" type="text" id="{{ dose }}" name="amount-dose" placeholder="Amount (optional)" aria-label="dose">
                    {% else %}
                <input class="form-control" type="text" id="{{ dose }}" name="amount-dose" placeholder="Amount (optional)" aria-label="dose" value="{{dose.usermed.typical_dose}}"/>
                    {% endif %}
                </div>
        </div>

        {% endfor %}
        {% endif %}
    </div>

      </fieldset>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">As Needed:</legend>
        <div class="col-sm-10">
            {% if not as_needed %}
            You don't currently have any medications on this list.
            {% endif %}

      {% if as_needed %}
      {% for med in as_needed %}
      <div class="row g-3">
          <div class="col-sm">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="{{ med }}" name="med-id" value="{{ med.med_id }}">
            <label for="{{ med }}"><b>{{med.med.med_name}}</b></label>
            <br><br>
            </div>
        </div>
        <div class="col-sm">
            <input class="form-control" type="text" id="{{ med }}-notes" name="notes-{{med}}" placeholder="Notes (optional)" aria-label="notes">
        </div>
        {% if med.typical_dose == None %}
        <div class="col-sm-3">
            <input class="form-control" type="text" id="{{ med }}-as-needed" name="amount-{{med}}" placeholder="Amount (optional)" aria-label="dose">
        </div>
        {% else %}
        <div class="col-sm-3">
            <input class="form-control" type="text" id="{{ med }}-as-needed" name="amount-{{med}}" placeholder="Amount (optional)" aria-label="dose" value="{{med.typical_dose}}">
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</div>
      </fieldset>
      <input type="submit" aria-label="Submit" value="Get Points!" class="btn btn-dark">
      <input type="reset" aria-label="reset" value="Reset" class="btn btn-dark"><br>
    </form>
</div>
</div>
</div>
{% endblock %}