{% extends 'base.html' %}
{% block body %}
{% endblock %}
{% block content %}
<div class="content-section">

<div class="container-fluid text-center">
<h1> Marketplace </h1>
<p>Welcome to the marketplace, {{ user.fname }}! 
{% if buddy %}
Will {{ buddy.buddy_name }} be getting something special today?<br>
You have {{ user.points }} points
to shop with.
{% endif %}
{% if not buddy %}
You'll need to adopt a buddy before you can shop in the marketplace.
{% endif %}
</p>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for accessory in accessories %}
    <form id="add-accessory" action="/add-accessory" method="POST">
    <div class="col">
    <div class="card h-100 text-center">
        <img class="card-img-top" src="{{accessory.accessory_img}}"
        alt = "{{accessory.accessory_alt}}">
        <div class="card-body">
            <h5 class="card-title">{{accessory.accessory_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ accessory.accessory_cost}} points </h6>
            <p>{{ accessory.accessory_description }}</p>
            <input id="{{accessory.accessory_id}}" name="accessory-id"
            value ="{{accessory.accessory_id}}" type="hidden">
            {% if not buddy %}
            <input type="submit" value="Buy Now" aria-label="you must get a buddy before you can purchase accessories" class="btn btn-primary" disabled>
            {% endif %}
            {% if buddy %}
            {% if accessory in user.accessories %}
            <input type="submit" value="Buy Now" aria-label="you already have this accessory" class="btn btn-primary" disabled>
            {% else %}
            <input type="submit" value="Buy Now" aria-label="purchase accessory" class="btn btn-primary">
            {% endif %}
            {% endif %}
        </div>
        <!-- <small class="card-footer text-muted">
        Wearable by...
        </small> -->
    </div>
    </div>
</form>
{% endfor %}

</div>
</div>
{% endblock %}