{% extends 'base.html' %}
{% block body %}
<body>
  <script>
      $( function() {
        $("#searchBox").autocomplete({
            source: function(request, response) {
              $.ajax({
                type: "POST",
                url: "/search",
                dataType: "json",
                cache: false,
                data: {
                    q: request.term
              },
                success : function(data) {
                  //alert(data);
                  //console.log(data);
                  response(data);
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  console.log(textStatus + " " + errorThrown);
              }
            });
          }, 
          minLength: 2
      });
      });
      
      </script>
<h1>Med Profile</h1>
Add Med
<form id="add-med" action="/add-med" method="POST">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Medication Name" aria-label="Medication" id="searchBox" name="search"/>
    </div>
  </div>
  
      <div class="input-group mb-3">
        <input type="checkbox" class="btn-check" name="regular" id="regular" autocomplete="off">
        <label class="btn btn-outline-primary" for="regular">I take this med daily.</label>


        <input type="checkbox" class="btn-check" name="as-needed" id="as-needed" autocomplete="off">
        <label class="btn btn-outline-primary" for="as-needed">I take this med as needed.</label>
        <!-- <input type="checkbox" class="btn-check" name="series" id="series" autocomplete="off">
        <label class="btn btn-outline-primary" for="series">I take this med short-term, as a limited series.</label> -->
        <input type="checkbox" class="btn-check" name="current" id="current" autocomplete="off">
        <label class="btn btn-outline-primary" for="current">I am currently taking this med.</label>
      </div>
      <div>
        <label for="dose-amount">What is your typical dose? (optional)</label>
        <input type="text" name="dose-amount" id="dose-amount"/>
      <div>
        <input type="submit" aria-label="add med to list" value="Add Med to List"/>
</div>     
</form>

Schedule a Limited Series of meds
choose med
choose date range
choose dose time


<form id="change-med" action="/change-med" method="POST">
  <legend>Change Meds in Profile:</legend>
  <label for="med-name">Medication to Change:</label>
  <select name ="med-to-change" id="med-to-change">
  {% for med in user.meds %}
  <option id = "{{ med.med_id }}" value= "{{ med.med_id }}">{{ med.generic_name }}</option>
  {% endfor %}
</select><br>


 <form id="remove-med" action="/remove-med" method="POST">
         <legend>Remove Medication from Profile:</legend>
         <label for="med-name">Medication to Remove:</label>
         <select name ="med-to-remove" id="med-to-remove">
         {% for med in user.meds %}
         <option id = "{{ med.med_id }}" value= "{{ med.med_id }}">{{ med.generic_name }}</option>
         {% endfor %}
     </select><br>
         <input type="submit" aria-label="remove med from list" value="Remove Med from List">
     </fieldset>
 </form>
 </body>
 <div>
<label for="units">

 <form id ="add-dose" action="/add-dose" method="POST">
    <fieldset>
      <legend>Schedule Your Meds</legend>
      Select Meds:
      {% for med in user.usermeds %}
      <div><input type="checkbox" name="medfordose" value="{{ med.med_id }}" id="{{ med.med_id}}">
      <label for="{{ med.med_id }}">
      {{ med.med.generic_name }}</label>
      {% endfor %}
      </div>
      <div>
        <label for="datetime">When is the first dose?</label><br>
        <input type="datetime-local" name="datetime" id="datetime">
      </div>
  
      <div class="btn-group" role="group" aria-label="Basic example">
        <span class="input-group-text">Repeat every:</span>
      <input type="checkbox" class="btn-check" id="sunday" autocomplete="off">
<label class="btn btn-outline-primary" for="sunday">Sunday</label>
<input type="checkbox" class="btn-check" id="monday" autocomplete="off">
<label class="btn btn-outline-primary" for="monday">Monday</label>
<input type="checkbox" class="btn-check" id="tuesday" autocomplete="off">
<label class="btn btn-outline-primary" for="tuesday">Tuesday</label>
<input type="checkbox" class="btn-check" id="wednesday" autocomplete="off">
<label class="btn btn-outline-primary" for="wednesday">Wednesday</label>
<input type="checkbox" class="btn-check" id="thursday" autocomplete="off">
<label class="btn btn-outline-primary" for="thursday">Thursday</label>
<input type="checkbox" class="btn-check" id="friday" autocomplete="off">
<label class="btn btn-outline-primary" for="friday">Friday</label>
<input type="checkbox" class="btn-check" id="saturday" autocomplete="off">
<label class="btn btn-outline-primary" for="saturday">Saturday</label>
      </div><br>
      
      <div class="input-group mb-3">
        <span class="input-group-text">Repeat for:</span>
        <input type="number" class="form-control" placeholder="Number" aria-label="Username">
        <input type="radio" class="btn-check" name="options" id="days" autocomplete="off">
<label class="btn btn-outline-primary" for="days">days</label>
<input type="radio" class="btn-check" name="options" id="weeks" autocomplete="off">
<label class="btn btn-outline-primary" for="weeks">weeks</label>
<input type="radio" class="btn-check" name="options" id="months" autocomplete="off">
<label class="btn btn-outline-primary" for="months">months</label>


      </div>
      
      <div>
      <p>
      <input type="checkbox" id="calendar" name="calendar" value="calendar">
      <label for="calendar"> Add to Google Calendar</label></p>
<p>
      <input type="submit" value="Add to MedBuddy Schedule" aria-label="Add to Schedule"></input>
</p>

    </fieldset>
  </form>
  
  {% endblock %}