{% extends 'base.html' %}
{% block body %}
form to schedule a dose

<form id ="add-dose" action="/add-dose" method="POST">
    <fieldset>
      <legend>Schedule a Dose</legend>
      <input type=""
        <input type="datetime-local" name="datetime" id="datetime">
        <label for="datetime">When should this be taken?</label>
      </p>
      <p>
        <input type="radio" name="size" id="size_2" value="medium">
        <label for="size_2">Medium</label>
      </p>
      <p>
        <input type="radio" name="size" id="size_3" value="large">
        <label for="size_3">Large</label>
      </p>
    </fieldset>
  </form>
  
form to add a med to db



{% endblock %}