{% extends 'base.html' %}
{% block body %}
<form id ="add-dose" action="/add-dose" method="POST">
    <fieldset>
      <legend>Schedule Your Meds</legend>
      Select Meds:
      {% for med in user.meds %}
      <p>
      <input type="checkbox" name="medfordose" value="{{ med.med_id }}" id="{{ med.med_id}}">
      <label for="{{ med.med_id }}">
      {{ med.generic_name }} ({{ med.brand_name }})</label>
      {% endfor %}
      </p>

      <p>
        <label for="datetime">When should these be taken?</label>
        <input type="datetime-local" name="datetime" id="datetime">

      </p>
      <input type="submit" value="Add to Schedule" aria-label="Add to Schedule"></input>

    </fieldset>
  </form>
  
  {% endblock %}